<a href="/profile">Your profile</a>

<form action="/search" method="POST" class="bar">
  <h1>Artist</h1>
  <label for="keyword">Artist</label>
  <input type="text" id="keyword" name="keyword">

  <button type="submit">Search</button>
  <div class="list">
    <div class="segment"><a href="/apiGuay/andy-warhol">Andy Warhol</a></div>
    <div class="segment"><a href="/apiGuay/diego-velazquez">Diego Velázquez</a></div>
    <div class="segment"><a href="/apiGuay/claude-monet">Claude Monet</a></div>
    <div class="segment"><a href="/apiGuay/pablo-picasso">Pablo Picasso</a></div>
    <div class="segment"><a href="/artist-list">All artists</a></div>
  </div>
</form>

<form action="/search" method="POST" class="bar">
  <h1>Artwork</h1>
  <label for="keyword">Culture</label>
  <input type="text" id="keyword" name="keyword">

  <button type="submit">Search</button>
  <div class="list">
    <div class="segment"><a href="/info/culture/37528659">Spanish</a></div>
    <div class="segment"><a href="/info/culture/37528029">Mexican</a></div>
    <div class="segment"><a href="/info/culture/37527453">German</a></div>
    <div class="segment"><a href="/info/culture/37527759">Italian</a></div>
    <div class="segment"><a href="/artwork-list">All artworks</a></div>
  </div>
</form>

<div id=myMap></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9FY9pLHEn8aQa_Heiu1IiEzjKDXH7o7c" async defer></script>
<script type="text/javascript" src="javascripts/main.js"></script>
<a href="/logout">
  Log out </a>
