
<a href="/profile">Your profile</a>
<br></br>
<h1>Artists</h1>
<form action="dashboard" method="post">
  <input type="search" name="artists" value="Search for artists..."></input>
</form>
<ul>
  <a href="">Artist 1<a>
  <a href="">Artist 2<a>
  <a href="">Artist 3<a>
  <a href="">Artist 4<a>
  <a href="/artists">All</a>
</ul>

<h1>Periods</h1>
<form action="dashboard" method="post">
  <input type="search" name="period" value="Search for periods..."></input>
</form>
<ul>
  <a href="">Period 1<a>
  <a href="">Period 2<a>
  <a href="">Period 3<a>
  <a href="">Period 4<a>
  <a href="/periods">All</a>
</ul>

<!-- here: space for event/gallery finder -->

<a href="/logout">Log out</a>
