
<a href="/profile">Your profile</a>

<h1>Period</h1>
<form action="/search" method="POST">
    <label for="keyword">Artists</label>
    <input type="text" id="keyword" name="keyword">

    <button type="submit">Search</button>
    <ul>
        <li><a href="">Leonardo Da Vinci</a></li>
        <li><a href="">Picasso</a></li>
        <li><a href="">Warhol</a></li>
        <li><a href="">Velazquez</a></li>
        <li><a href="/artist-list">All artists</a></li>
    </ul>
</form>

<h1>Artworks</h1>
<form action="/search" method="POST">
    <label for="keyword">Place</label>
    <input type="text" id="keyword" name="keyword">

    <button type="submit">Search</button>

    <ul>
        <li><a href="/placeholder-artwork">Placeholder art</a></li>
        <li><a href="info/artwork/">Art 2</a></li>
        <li><a href="info/artwork">Art 3</a></li>
        <li><a href="info/artwork">Art 4</a></li>
        <li><a href="/artwork-list">All artworks</a></li>
    </ul>
</form>

<div id="myMap" style="height:400px;width:80%"></map>

<a href="/logout">Log out</a>

<script src="javascripts/main.js" type="text/javascript"></script>
<script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcO2AkGhhieGdQsKZxsOa5Q8PLNw4B7gU&callback=startMap&libraries=places,visualization async defer">
    </script>
