<div class="profile">
  <h1>Hello <%= user.username %></h1>
  <p>
    <%= user.description %>
  </p>
  <img src="<%= user.image %>"></img>
  <br></br>
  <a href="/dashboard">Back to dashboard</a>
  <br></br>
  <a href="profile/edit">Edit your profile</a>
  <br></br>
  <a href="/logout">Logout</a>
</div>
