<<<<<<< HEAD

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<nav>
  <ul>
    <li> <a href="/signup"> Sign Up </a> </li>
    <li> <a href="/login"> Log In </a> </li>
  </ul>
</nav>
=======
<h1>
  <%= title %>
</h1>
<p>Welcome to
  <%= title %>
</p>

<a href=/signup>Sign up</a>
<a href=/login>Log in</a>
>>>>>>> e6744244d790da6f3b924479029677ab85115fd0
