<section class="first-background">
<div class="auth">
  <h1><%= title %></h1>
  <p>Welcome to
    <%= title %>
  </p>

  <nav>
    <ul>
      <li><a href="/signup"> Sign Up </a></li>
      <li><a href="/login"> Log In </a></li>
    </ul>
  </nav>
</div>
</section>
