<!DOCTYPE html>
<html>
<<<<<<< HEAD
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- body %>
  </body>
</html>
=======

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <%- body %>
</body>

</html>
>>>>>>> e6744244d790da6f3b924479029677ab85115fd0
