
<a href="/profile">Your profile</a>

<h1>Period</h1>
<form action="/search" method="POST">
    <label for="keyword">Period</label>
    <input type="text" id="keyword" name="keyword">

    <button type="submit">Search</button>
    <ul>
        <li><a href="/info/period/7056">Helladic period, Late Helladic I</a></li>
        <li><a href="/info/period/401">Iron Age</a></li>
        <li><a href="/info/period/394">Song dynasty, Southern Song period, 1127-1279</a></li>
        <li><a href="/info/period/2376">Ottoman period</a></li>
    </ul>
</form>

<h1>Place</h1>
<form action="/search" method="POST">
    <label for="keyword">Place</label>
    <input type="text" id="keyword" name="keyword">

    <button type="submit">Search</button>

    <ul>
        <li><a href="/info/place/2037593">Portugal</a></li> 
        <li><a href="/info/place/2037253">Iroquois</a></li>
        <li><a href="/info/place/2028230">Northern Greece</a></li>
        <li><a href="/info/place/2028338">Afghanistan</a></li>
    </ul>
</form>

<h1>Culture</h1>
<form action="/search" method="POST">
    <label for="keyword">Culture</label>
    <input type="text" id="keyword" name="keyword">

    <button type="submit">Search</button>

    <ul>
        <li><a href="/info/culture/37528659">Spanish</a></li>
        <li><a href="/info/culture/37528029">Mexican</a></li>
        <li><a href="/info/culture/37527453">German</a></li>
        <li><a href="/info/culture/37527759">Italian</a></li>
    </ul>
</form>

<a href="/logout">Log out</a>
