
<a href="/profile">Your profile</a>
<br></br>
<h1>Artists</h1>
<form action="dashboard" method="post">
  <input type="search" name="artists" value="Search for artists..."></input>
</form>
<ul>
  <li>Artist 1</li>
  <li>Artist 2</li>
  <li>Artist 3</li>
  <li>Artist 4</li>
  <a href="/artists">All artists</a>
</ul>

<h1>Periods</h1>
<form action="dashboard" method="post">
  <input type="search" name="period" value="Search for periods..."></input>
</form>
<ul>
  <li>Period 1</li>
  <li>Period 2</li>
  <li>Period 3</li>
  <li>Period 4</li>
  <a href="/periods">All periods</a>
</ul>

<a href="/logout">Log out</a>
